* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  #menu-horizontal{
    background-color: rgb(255, 102, 0);
  }
  
  #menu-horizontal ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
  }
  
  #menu-horizontal ul li {
    display: inline;
  }
  
  #menu-horizontal ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
  }
  
  #menu-horizontal ul li a:hover {
    background-color: rgb(255, 179, 128);
  }
  
  #menu-horizontal ul li:last-child a {
    float: right;
    background-color: rgb(255, 179, 128);
  }

  section#first{
    display: flex;
    padding: 1rem;
    border: 1px red solid;
  }

  section#first div.card{
    border: 1px #000 solid;
    width: 20%;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: auto;
  }