@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #252422;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

header{
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  background-color: #e9ecef;
  border-bottom: #9ef01a 1px solid;
}

header div{
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 50vh;
}

header div img{
  height: 4rem;
}

header div h1{
  text-align: center;
  margin-left: 2rem;
  letter-spacing: .1rem;
}

header nav{
  padding: 1rem;
  display: flex;
  align-items: center;
}

header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header nav ul li{
  margin: auto 1rem;
}

header nav ul li a{
  color: #38b000;
  font-size: 2rem;
  font-weight: 500;
}

header nav ul li img{
  height: 3rem;
  border-radius: 50%;
}

header nav ul li img:hover{
  cursor: pointer;
}

div.btnAdicionar {
  padding: 6rem;
}

div.btnAdicionar a{
  position: absolute;
  top: 8rem;
  right: 4rem;
}

div.btnAdicionar a button{
  height: 2rem;
  width: 9rem;
  border: unset;
  border-radius: 8px;
  background-color: #9f3;
  color: #252422;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s;
}

div.btnAdicionar a button:hover{
  color: #fffcf2;
  background-color: #e65c00;
  box-shadow: 0 0 1rem #ccc5b9;
}

main.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

main.container section#catalogo{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: baseline;
  margin: 0 auto;
}

main.container section#catalogo div.card {
  border: .1rem solid #d3d3d3;
  width: 12rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 0 .3rem #a3a3a3;
  margin: 1rem;
}

main.container section#catalogo div.card img{
  height: 5rem;
}

main.container section#catalogo div.card div.infos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main.container section#catalogo div.card div.infos p.title{
  font-weight: 800;
}

main.container section#catalogo div.card div.icons{
  font-size: 1.4rem;
}

main.container section#catalogo div.card div.icons a{
  margin-bottom: 10px;
  padding: 1rem;
}

main.container section#catalogo div.card div.icons a i{
  transition: ease .3s;
}

#edit:hover i{
  color: #538d22;
}

#delete i:hover{
  color: #d90429;
}
