/* Menu que altera as cores do layout login*/ 
:root {
    --input-linear: linear-gradient(120deg, #ccff33, #ac855f);
    --input-error: red;
    --button-linear: linear-gradient(120deg, #ad7e53, #ccff33, #ad7e53);
    --button-disabled: #acacac;
    --button-success: rgb(153, 255, 51);
    --white: #fff;
    --black: #ac855f;
    --gray: #929292;
    --light-gray: #cfcfcf;
    --border-height: 1px;
}
  
.login {
   height: 60vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
  
.login__container {
    min-height: 400px;
    width: 300px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.login__title {
    margin-bottom: 32px;
    color: var(--black);
}
  
.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
}
  
.login__input-border {
    height: var(--border-height);
    width: 100%;
    margin-bottom: 16px;
    background: var(--light-gray);
    transition: .3s ease-in-out;
}
  
.login__input-border::after {
    content: '';
    display: block;
    height: var(--border-height);
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: .3s ease-in-out;
}
  
.login__input:focus + .login__input-border::after {
    width: 100%;
}
  
.login__input-border.error {
    background: var(--input-error);
}
  
.login__input-border.error::after {
    background: var(--input-error);
}
  
.login__submit {
    align-items: left;
    height: 44px;
    width: 45%;
  
    padding-left: 8px;
    outline: none;
    position: relative;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease;
}
  
.login__submit:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
}
  
.login__submit:hover {
    background-position: right;
}
  
.login__submit.success {
    background: var(--button-success);
}
  
.login__submit.error {
    background: var(--input-error);
}
  
.login__reset {
    font-size: 12px;
    color: var(--gray);
    text-decoration: none;
}
  
.cadastro__submit {
    height: 44px;
    width: 45%;
  
    padding-left: 8px;
    outline: none;
    position: relative;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 30px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease;
}
  
.cadastro__submit:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
}
  
.cadastro__submit:hover {
    background-position: right;
}
.btn_02 {
    justify-content: space-between 30%;
    margin: 1rem;
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
}
  