

  /* Css Formulário de envio */
  
  section#contato {
    padding: 3rem 10rem 3rem 10rem;
    display: grid;
    place-items: center;
  }
  
  section#contato h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  section#contato form {
    width: 50%;
  }
  
  section#contato form input,
  textarea {
    width: 100%;
    padding: 0.5em;
    font-size: 1.2rem;
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
  }
  
  section#contato form label {
    width: 100%;
    font-size: 1.2rem;
  }
  
  section#contato form button {
    border: 1px solid #0066ff;
    background-color: #fff;
    color: #0066ff;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    width: 40%;
  }
  
  section#contato form button:disabled {
    border: 1px solid rgb(170, 170, 170);
    background-color: rgb(255, 255, 255);
    color: rgb(170, 170, 170);
  }
  
  section#contato form button:hover:disabled {
    border: 1px solid rgb(170, 170, 170);
    background-color: rgb(255, 255, 255);
    color: rgb(170, 170, 170);
  }
  
  section#contato form button:hover {
    background-color: #0066ff;
    color: #fff;
  }
  
  section#contato div#redes a {
    text-decoration: none;
    color: #0066ff;
    font-size: 4rem;
    padding: 2rem;
  }
  
  section#contato div#redes a:hover {
    color: #71aaff;
    transition: 0.3s ease-in-out;
  }
  
  section#contato div#redes {
    margin-bottom: 2rem;
  }
  
  section#contato h3 {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
  }