@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

:root {
  --input-linear: linear-gradient(120deg, #ccff33, #ac855f);
  --input-error: red;
  --button-linear: linear-gradient(120deg, #ad7e53, #ccff33, #ad7e53);
  --button-disabled: #acacac;
  --button-success: rgb(153, 255, 51);
  --white: #fff;
  --black: #ac855f;
  --gray: #929292;
  --light-gray: #cfcfcf;
  --border-height: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #252422;
  text-decoration: none;
}

body{
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

header{
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  background-color: #25242299;
}

header div{
  padding: 1rem;
  display: flex;
  align-items: center;
}

header div img{
  height: 4rem;
}

header div h1{
  text-align: center;
  margin-left: 2rem;
  letter-spacing: .1rem;
  color: #fffcf2;
}

header nav{
  padding: 1rem;
  display: flex;
  align-items: center;
}

header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header nav ul li{
  margin: auto 1rem;
  transition: .3s ease;
  padding: 2rem;
}

header nav ul li a{
  color: #fffcf2;
  font-size: 1.3rem;
  font-weight: 500;
}

header nav ul li:hover{
  background-color: #403d39;
}

main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
}


section#sobre{
  background-color: #25242299;
  height: 18rem;
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

main section#sobre h2,
main section#sobre h3,
main section#sobre p{
  color: #fffcf2;
  padding: 1rem;
}

section#area{
  background-color: #fffcf2;
  color: #252422;
  height: 32rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
}

section#area div{
  display: inherit;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section#area p{
  text-align: center;
  letter-spacing: .1rem;
}

section#area div#login h3{
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: .1rem;
}

section#area div#login form{
  padding: 2rem 0;
  background-color: var(--white);
  border-radius: 8px;
  width: 18rem;
}

section#area div#login form input{
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  border: unset;
  outline: none;
  position: relative;
  
}


.login__input-border {
  height: var(--border-height);
  width: 100%;
  margin-bottom: 16px;
  background: var(--light-gray);
  transition: .3s ease-in-out;
}

.login__input-border::after {
  content: '';
  display: block;
  height: var(--border-height);
  width: 0;
  margin-bottom: 16px;
  background: var(--input-linear);
  transition: .3s ease-in-out;
}

section#area div#login form input + .login__input-border::after {
  width: 100%;
}

section#area div#login form div.btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-around;

}

section#area div#login form div.btn button{
  /* align-items: left; */
  height: 2rem;
  width: 6rem;

  outline: none;
  /* position: relative; */
  background: var(--button-linear);
  background-size: 200%;
  /* margin-bottom: 32px; */
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  border: unset;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s ease;
}

section#area div#login form div.btn button:disabled {
  background: var(--button-disabled);
  cursor: not-allowed;
}

section#area div#login form div.btn button:hover {
  background-position: right;
}

section#area div#login form div.btn div.btn-cadastrar{
  height: 2rem;
  width: 6rem;
  outline: none;
  position: relative;
  background: var(--button-linear);
  background-size: 200%;
  /* margin-bottom: 30px; */
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  border: unset;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s ease;
  /* padding: .8rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

section#area div#login form div.btn div.btn-cadastrar a{
  color: var(--white);
}

section#area div#login form div.btn div.btn-cadastrar:hover{
  background-position: right;
}