<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catálago</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/catalogo.css') }}">
    </head>

    <body>
        <header>
            <div>
                <img src="../static/img/logo.png" alt="Logo Agrotech">
                <h1><a href="#">Agrotech</a></h1>
            </div>
            <nav>
                <ul>
                    <li class="perfil"><img src="../static/img/perfil.jpg" alt="Foto perfil"></li>
                    <li class="sair"><a href="index.html"><i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </nav>
        </header>
    
        <div id="btn">
            <button class="btn-adicionar">Adicionar</button>
            <button class="btn-cancelar">Cancelar</button>
        </div>

        <main class="container">
            <section id="catalogo">
                {% for info in infos %}
                <div class="card">
                    <img src="{{info.imagem}}" alt="Imagem {{info.nome}}">
                    <div class="infos">
                        <p class="title">{{info.nome}}</p>
                        <p>{{info.tipo}}</p>
                        <p><strong>R$</strong> {{info.valor}}</p>
                        <p><strong>QTD.</strong> {{info.quantidade}}</p>
                    </div>
                    <div class="icons">
                        <a href="/catalogo/edit/{{info.id}}"><i id="edit" class="far fa-edit"></i></a>
                        <a href="/catalogo/{{info.id}}" id="delete"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
                {% endfor %}
            </section>

            {% if info != undefined %}
            <section id="modal">
                <div class="modal-content" data-key="{{info.id}}">
                    <h3>Confirmação de Exclusão</h3>
                    <img src="{{info.imagem}}" alt="Imagem {{info.nome}}">
                    <p>Deseja mesmo exluir este item do catálogo?</p>
                    <div class="icon-modal">
                        <a href="/catalogo/delete/{{info.id}}"><i id="modal-confirm" class="far fa-check-circle"></i></a>
                        <a href="/catalogo#"><i id="modal-cancel" class="far fa-times-circle"></i></a>
                    </div>
                </div>
            </section>
            {% endif %}

            <section id="add-item">
                <h2>Adicionar Novo Produto</h2>
                <form action="/catalogo/adicionar" method="POST">
                    <div>
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="nome">
                    </div>
                    <div>
                        <label for="tipo">Tipo</label>
                        <input type="text" name="tipo" id="tipo">
                    </div>
                    <div>
                        <label for="valor">Valor</label>
                        <input type="text" name="valor" id="valor">
                    </div>
                    <div>
                        <label for="quantidade">Quantidade</label>
                        <input type="text" name="quantidade" id="quantidade">
                    </div>
                    <div>
                        <label for="imagem">Imagem</label>
                        <input type="text" name="imagem" id="imagem" placeholder="Copie aqui o link da imagem">
                    </div>
                    <button>Cadastrar</button>
                </form>
            </section>
        </main>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/2df7780fbc.js" crossorigin="anonymous"></script>
        <script src="../static/js/script.js"></script>
    </body>
</html>