<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálago</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="../static/css/catalogo.css">
    <link rel="sortcut icon" href="../static/img/logo.png" type="image/png" />
</head>

<body>
    <header>
        <div>
            <img src="../static/img/logo.png" alt="Logo Agrotech">
            <h1><a href="#">Agrotech</a></h1>
        </div>
        <nav>
            <ul>
                <li class="perfil" id="perfilFechar"><img id="imgperfil" src="../static/img/perfil.jpg"
                        alt="Foto perfil" onclick="fecharMenu()">
                <li class="perfil2" id="perfilAbrir"><img id="imgperfil" src="../static/img/perfil.jpg"
                        alt="Foto perfil" onclick="abrirMenu()">
                </li>
                <li id="perfilMenu"> <!-- SUBMENU LATERAL (AO CLICAR NO PERFIL) -->
                    <ul class="submenuPerfil" id="submenu">
                        <a id="opcao1" href="">Perfil</a>
                        <a id="opcao1" href="">Configuração</a>
                        <a id="opcao2" href="">Gerenciar acesso</a>
                        <a id="opcao3" href="/index.html">Sair
                        <!-- <i id="iconSair" class="fas fa-sign-out-alt"></i> -->
                        </a>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div id="btn">
        <button class="btn-adicionar">Adicionar</button>
        <button class="btn-cancelar">Cancelar</button>
    </div>

    <main class="container">
        <section id="catalogo">
            {% for info in infos %}
            <div class="card">
                <img src="{{info.imagem}}" alt="Imagem {{info.nome}}">
                <div class="infos">
                    <p class="title">{{info.nome}}</p>
                    <p>{{info.tipo}}</p>
                    <p><strong>R$</strong> {{info.valor}}</p>
                    <p><strong>QTD.</strong> {{info.quantidade}}</p>
                </div>
                <div class="icons">
                    <a href="/catalogo/edit/{{info.id}}"><i id="edit" class="far fa-edit"></i></a>
                    <a href="/catalogo/delete/{{info.id}}" class="modal-trigger"><i data-target="{{info.id}}"
                            id="delete" class="far fa-trash-alt"></i></a>
                </div>
            </div>
            <!-- Código do para implementação do modal, ainda não funcional -->
            <!-- <div class="modal" id="{{info.id}}">
                    <div class="modal-content">
                        <h3>Confirmação de Exclusão</h3>
                        <img src="{{info.imagem}}" alt="Imagem {{info.nome}}">
                        <p>Deseja mesmo exluir este item do catálogo?</p>
                        <div class="icon-modal">
                            <a href="/catalogo/delete/{{info.id}}"><i id="modal-confirm" class="far fa-check-circle"></i></a>
                            <i id="modal-cancel" class="far fa-times-circle"></i>
                        </div>
                    </div>
                </div> -->
            {% endfor %}
        </section>

        <section id="add-item">
            <h2>Adicionar Novo Produto</h2>
            <form action="/catalogo/adicionar" method="POST">
                <div class="group">
                    <input type="text" name="nome" id="nome" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="nome">Nome</label>
                </div>
                <div class="group">
                    <input type="text" name="tipo" id="tipo" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="tipo">Tipo</label>
                </div>
                <div class="group">
                    <input type="text" name="valor" id="valor" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="valor">Valor</label>
                </div>
                <div class="group">
                    <input type="text" name="quantidade" id="quantidade" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="quantidade">Quantidade</label>
                </div>
                <div class="group">
                    <input type="text" name="imagem" id="imagem" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="imagem">Imagem</label>
                </div>
                <button>Cadastrar</button>
            </form>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2df7780fbc.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <script src="../static/js/script.js"></script>
    <script src="../static/js/catalogo.js"></script>
</body>

</html>