<!DOCTYPE html> <!---Liguagem de marcação de hiper texto--->
<html lang="pt-br"><!---Linguagem do documento--->
<head>
    <meta charset="UTF-8"><!---A tag META descreve o conteudo de todos os metadados do arquivo. O CHARSER UTF8 representa qualquer caractere de qualquer idioma.--->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--- Permite configurar a página para ser renderizada em outra versão do Internet Explorer.--->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!---A VIEWPORT customiza a resolução em que o navegador renderiza no dispositivo.--->
    <link rel="stylesheet" href="../static/css/styles.css"> <!---Ligando o index.html com o styles.csss.--->
    <link icon="icon" href="../static/img/logo.png">
    <title>Agrotech</title><!---Define o título do documento, mostrado na barra de título de um navegador ou na aba da página.--->

</head>

    <body class="bg">
      
    <section class="page1 border">
        <header class="logo border">
            <img src="../static/img/logo-name.png">
        </header>
        <div class="container border">
            <div class="title">
                <h1 class="t1">O Futuro dos Alimentos</h1>
                <h2 class="t2 border">Tecnologia, sustentabilidade e mais saúde</h2>
            </div>
            <div class="login">
                <h3 class="t3 border">ADMIN LOGIN</h3>
                <button class="button" type="button">Entrar</button>
                
            </div>
        </div>
    </section>
    <section class="page2 border">
        <div>
            <h2 class="Time">Time</h2>
            <div class="cards">

            </div>

        </div>
    </section>
        

        <script src="../static/js/main.js"></script><!---Ligando o index.html com o mains.js--->
    </body>



