<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time|Conato</title>
</head>
<body>
    
    <section class="page2 ">
        <div class="container2 ">
            <h2 class="time ">Time</h2>
            <div class="cards border ">
                <img src="../static/img/cards.png">
                    <div class="icons border">
                        <div class="icons1">
                            <a href="https://www.linkedin.com/in/gustavofogia/" target="_blank">
                                <img src="../static/img/linkedin.png">
                            </a>
                            <a href="https://github.com/gustavofogia" target="_blank">
                                <img src="../static/img/github.png">
                            </a>
                        </div>
                        <div class="icons2">
                            <a href="https://www.linkedin.com/in/gustavofogia/" target="_blank">
                                <img src="../static/img/linkedin.png">
                            </a>
                            <a href="https://github.com/gustavofogia" target="_blank">
                                <img src="../static/img/github.png">
                            </a>
                        </div>
                        <div class="icons3">
                            <a href="https://www.linkedin.com/in/gustavofogia/" target="_blank">
                                <img src="../static/img/linkedin.png">
                            </a>
                            <a href="https://github.com/gustavofogia" target="_blank">
                                <img src="../static/img/github.png">
                            </a>
                        </div>
                        <div class="icons4">
                            <a href="https://www.linkedin.com/in/gustavofogia/" target="_blank">
                                <img src="../static/img/linkedin.png">
                            </a>
                            <a href="https://github.com/gustavofogia" target="_blank">
                                <img src="../static/img/github.png">
                            </a>
                        </div>
                        <div class="icons5">
                            <a href="https://www.linkedin.com/in/gustavofogia/" target="_blank">
                                <img src="../static/img/linkedin.png">
                            </a>
                            <a href="https://github.com/gustavofogia" target="_blank">
                                <img src="../static/img/github.png">
                            </a>
                        </div>                         
                </div>         
            </div>
        </div>
    </section>
    <section id="contato">

        <div id="redes">
            <h3>Se conecte comigo </h3>
            <a href="https://www.linkedin.com/in/thicode/" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>

            <a href="https://github.com/codethi" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>

            <a href="https://www.instagram.com/thi.code/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>

        <h3>Mande uma mensagem</h3>

        <form action='/send' method="POST">
            <label for="nome">Nome</label>
            <input type="text" placeholder="Digite seu nome" id="nome" name="nome">

            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu email" id="email" name="email">


            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea>

            <button type="submit" id="enviar">Enviar</button>

        </form>

        <div id="carregamento">
        <p>Enviando mensagem</p>
        <div id="loader"></div>
        </div>
    

    </section>

 <!-- <footer>
    <hr>
    <p>Todos os direitos reservados: <a id="thiCodeLink" target="_blank" href="https://thicode.netlify.app/">Thi
          Code</a> &copy;</p>
 </footer> -->


    <script src="../static/js/main.js"></script><!---Ligando o index.html com o mains.js--->
</body>
</html>



